/* COLOUR SETTINGS */

:root {
  --prim-col: #00778A;
  --prim-col-alpha: rgba(0,119,138,0.8);
  --sec-col: rgba(29, 200, 205);
  --sec-col-alpha: rgba(29, 200, 205, 0.8);
  --third-col-alpha: rgba(78,255,239,0.8);
  --acc-col: #912f56;
  --section-bg: rgba(45,136,139,0.2);
}

/* FONT SETTINGS */

body {
  font-family: 'Dubai Light';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dubai Regular';
}

/* ----ABOUT US----- */

.about-us-logos {
  text-align: center;
  margin-right: 20px;
  height: 120px;
  padding: 20px 0px;
}

.about-us-logos img {
  height: 90%;
  padding: 0 10px;
}

.section-description {
  max-width: 700px;
  margin: auto;
  padding: 0px 5px;
}

#office-analytics {
  background: #fff;
  padding: 0;
  overflow: hidden;
}

/* ---------- ROADMAP ---------- */

.col-rm-left {
  border-left: 3px solid;
  border-bottom: 3px solid;
  margin-left: 50px;
  height: 100%;
  margin-left: 0px;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-width: 4px;
  border-image-slice: 1;
}

.col-rm-bottom-to-right {
  border-width: 4px;
  border-bottom: 3px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-image: linear-gradient(to right, var(--sec-col) 0%, var(--acc-col) 100%);
  border-image-slice: 1;
  margin-right: 0px;
  padding: 60px 30px;
}

@media (max-width: 767px) {
  .col-rm-bottom-to-right {
    padding: 60px 30px 60px 0;
  }
}

.col-rm-bottom-to-left {
  border-width: 4px;
  border-bottom: 3px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-image: linear-gradient(to left, var(--sec-col) 0%, var(--acc-col) 100%);
  border-image-slice: 1;
  margin-right: 0px;
  padding: 60px 30px;
}

@media (max-width: 767px) {
  .col-rm-bottom-to-left {
    padding: 60px 0px 60px 30px;
  }
}

.col-rm-right {
  border-width: 4px;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-top: 0px;
  border-left: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 100%;
  border-image: linear-gradient(to right, var(--sec-col) 0%, var(--acc-col) 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}

.col-rm-left {
  border-width: 4px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-right: 0px;
  border-top: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  height: 100%;
  border-image: linear-gradient(to left, var(--sec-col) 0%, var(--acc-col) 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  position: relative;
}

.col-rm-right:before {
  right: 100%;
}

.info-roadmap-right {
  border-radius: 2em;
  border: black solid 2px;
  width: max(40%,200px);
  min-width: 200px;
  float: right;
  padding: 15px;
  margin-top: 20%;
  margin-right: -15px;
  background-color: #34435E;
}

.info-roadmap-right p, .info-roadmap-right h2 {
  color: white !important;
}

/* no border bottom in the last row - DATA */

.border-bottom-none {
  border-bottom: none !important;
}

.roadmap-row {
  padding: 60px 0 0 0;
}

.roadmap-col-wrapper {
  padding: 0 !important;
}

@media (max-width: 767px) {
  .inner-rm-row {
    display: none;
  }
}

.roadmap-img {
  max-width: 100%;
  height: 650px;
  float: right;
  object-fit: cover;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .roadmap-img {
    max-width: 90%;
    height: 300px;
    float: right;
    object-fit: cover;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1150px;
  }
}

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1300px;
  }
}

@media (min-width: 1600px) {
  .container-fluid {
    max-width: 1500px;
  }
}

@media (min-width: 768px) {
  .roadmap {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar-desktop .roadmap {
    display: initial;
  }
}

/* OFFICE ANALYTICS SECTION */

.text-div {
  padding: 24px 15px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

@media (min-width: 768px) {
  .text-div {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .text-div {
    font-size: 20px;
    width: 100%;
    text-align: left;
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .text-div {
    font-size: 21px;
  }
}

@media (min-width: 1400px) {
  .text-div {
    font-size: 22px;
  }
}

.office-analytics-img {
  max-width: 100%;
  padding: 0px 10px;
  object-fit: cover;
  height: 540px;
}

@media (min-width: 992px) {
  .office-analytics-img {
    padding: 0px;
  }
}

.text-div p {
  margin: 0;
  padding: 10px 0;
}

.box-col {
  padding: 1rem 1rem 3rem 1rem;
}

/* This can be used instead of always adding all three BS classes for FLEX, ALIGN and JUSTIFY */

.flex-col-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTACT SECTION */

.contact-about {
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .contact-about {
    text-align: left;
  }
}

@media (max-width: 992px) {
  #col-contact-btn {
    display: none;
  }
}

/* CALL TO ACTION */

.cta-btn {
  position: relative !important;
}

.cta-btn i {
  position: absolute;
  font-size: 3rem;
  left: 20px;
  top: 20px;
}

.cta-btn p {
  padding-left: 60px;
  margin: auto;
  font-size: 26px;
  text-align: left;
}

/* NAVBAR */

.navbar-toggler:hover {
  cursor: pointer;
}

/* OTHER */

hide {
  display: none;
}

#fun-img:hover {
  cursor: pointer;
}

